@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

svg {
  background-color: transparent;
  color: transparent;
}

#time-value {
  font-size: 110px;
}

#username {
  font-size: 100px;
}
