@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

svg {
  flex-shrink: 0;
  backdrop-filter: blur(15px);
}

image#image1_204_3 {
  background: no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  animation: fadeIn 4s infinite linear;
}

#time-value{
  font-size: 110px;
}

#username{
  font-size: 100px;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
